{% extends "layout/layoutMaster.twig" %}

{% block title %}Página Inicial{% endblock %}

{% block body %}

<!-- Main Content-->
<div>
    Página Inicial
</div>
<!-- End Main Content-->
        
{% endblock %}